body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tagsinput__wrapper {
  border: 1px solid grey;
  display: flex;
}

.tagsinput__tag {
  border: 1px solid grey;
  text-align: center;
  vertical-align: center;
  margin: 2px;
}

.tagsinput__tag {
  
}

.progress-ls-item {
  display: flex;
  padding: 8px;
}

.attr, .name {
  min-width: 70px;
  padding: 20px;
  border: 1px solid grey
}
